:root {
  --color-primario: #ff6347;
  --color-fondo: #f0f0f0;
  --color-texto: #333;
  --color-blanco: #fff;
  --color-borde: #ddd;
  --color-focus: #ff4500;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--color-fondo);
  border-bottom: 2px solid var(--color-borde);
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

header h1 {
  color: var(--color-primario);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(250, 233, 4, 0.5);
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}

header ul li a,
#lista-categorias li a {
  text-decoration: none;
  color: var(--color-texto);
  padding: 10px 15px;
  border-radius: 5px;
}

header ul li a:hover,
#lista-categorias li a:hover {
  background-color: var(--color-primario);
  color: var(--color-blanco);
}

header button {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  padding: 8px 4px;
  border-radius: 3px;
  cursor: pointer;
}

header button {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  padding: 8px 8px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* -------- MAIN -------- */
main {
  background-color: var(--color-fondo);
  padding: 10px;
}

main h2 {
  color: var(--color-primario);
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  text-shadow: 0px 1px 1px rgba(250, 233, 4, 0.5);
}

/* Contenedor de productos del carrito */

#contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 60%;
  padding: 20px;
}

#contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

#contenedor-carrito article {
  background-color: var(--color-blanco);
  border: 1px solid var(--color-borde);
  border-radius: 30px;
  padding: 15px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#contenedor-carrito article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

#contenedor-carrito article img {
  width: 20%;
  height: auto;
  border-radius: 20px;
}

#contenedor-carrito article h3 {
  color: var(--color-primario);
  margin: auto;
  font-size: 1em;
}

#contenedor-carrito article p {
  text-align: right;
  margin: auto;
}

.cantidad-control {
  display: flex;
  gap: 20px;
  align-items: center;
  width: auto;
  border: 1px solid var(--color-borde);
  border-radius: 10px;
  padding: 5px;
}

.cantidad-control button {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-right: auto;
}

.cantidad-control button:hover {
  background-color: var(--color-focus);
}

/* Contenedor del total a la derecha */
#resumen-compra {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blanco);
  border: 1px solid var(--color-borde);
  border-radius: 30px;
  margin-top: 20px;
  gap: 20px;
  padding: 20px;
  width: 40%;
  min-width: 150px;
  max-width: 330px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resumen-compra h3 {
  color: var(--color-primario);
  text-align: center;
  font-size: 1.2em;
}

#subtotal {
  font-size: 0.8rem;
  text-align: center;
}

#total {
  text-align: center;
  font-size: auto;
  font-weight: bold;
}

#resumen-compra button {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#resumen-compra button:hover {
  background-color: var(--color-focus);
}

#carrito-vacio {
  text-align: center;
  font-size: 1.2em;
  color: var(--color-texto);
}

/* -------- FOOTER -------- */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-fondo);
  border-top: 2px solid var(--color-borde);
  border-radius: 0px 0px 10px 10px;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: var(--color-primario);
  text-decoration: none;
  font-weight: bold;
}
